@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  font-weight: 200;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
}

@layer base {
  ul,
  ol {
    list-style: revert;
  }
}
